@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YuMincho";
  src: url("/fonts/yu-mincho.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  background-color: #0f172a;
}

.bg-midnight-mist {
  background-image:
    radial-gradient(circle at 50% 100%, rgba(70, 85, 110, 0.5) 0%, transparent 60%),
    radial-gradient(circle at 50% 100%, rgba(99, 102, 241, 0.4) 0%, transparent 70%),
    radial-gradient(circle at 50% 100%, rgba(181, 184, 208, 0.3) 0%, transparent 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.neon-text {
    color: #e0e0e0;
    font-weight: lighter;
    text-shadow:
        0 0 5px #8aadc2,
        0 0 10px #8aadc2,
        0 0 15px #8aadc2,
        0 0 20px #8aadc2,
        0 0 35px #8aadc2,
        0 0 40px #8aadc2;
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
            0 0 5px #8aadc2,
            0 0 10px #8aadc2,
            0 0 15px #8aadc2,
            0 0 20px #8aadc2,
            0 0 35px #8aadc2,
            0 0 40px #8aadc2;
    }
    
    20%, 24%, 55% {
        text-shadow: none;
    }
}